{% load custom_tags %}

<h1>Количество задач: {% task_count %}</h1>

<h2>Список всех задач:</h2>
<ul>
    {% all_tasks as tasks %}
    {% for task in tasks %}
        <li>{{ task.name | uppercase | truncate:15 }}</li>
    {% endfor %}
</ul>

<h2>Количество невыполненных задач: {% task_count_not_done  %}</h2>

<p>Верхний регистр: {{ "пример текста" | uppercase }}</p>

<p>Обрезанная строка: {{"Очень длинный текст" | truncate:10}}</p>

<h3>Список задач со статусом 'IN_PROGRESS':</h3>
<ul>
    {% tasks_by_status 'IN_PROGRESS' as tasks %}
    {% for task in tasks %}
        <li>{{ task.name }} (Статус: {{ task.get_status_display }})</li>
    {% endfor %}
</ul>

<h3>Список задач со статусом 'NEW':</h3>
<ul>
    {% tasks_by_status 'NEW' as tasks %}
    {% for task in tasks %}
        <li>{{ task.name }} (Статус: {{ task.get_status_display }})</li>
    {% endfor %}
</ul>